.slider__info {
  margin-left: 65px;
  position: absolute;
  top: -440%;
  transform: translateY(-50%);
  left: 0;
  z-index: 20;
  color: #fff;
}
.slider__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 7px;
  overflow: hidden;
}
.slider__title span {
  display: block;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
}
.slider__desc {
  font-size: 10px;
  overflow: hidden;
}

@media (max-width: 550px) {
  .slider__info {
    top: -200% !important;
    margin-left: 20px;
  }
}
@media (max-width: 400px) {
  .slider__info {
    top: -30% !important;
  }
  .slider__desc span {
    font-size: 1.2rem !important;
  }
}

.slider__desc span {
  display: block;
  font-size: 1.5rem;
  line-height: 30px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
}

.text__first,
.text__second {
  position: relative;
}
.text__word {
  opacity: 0;
}
.text__first-bg,
.text__second-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left;
  transform: scaleX(0);
}
.text__first-bg {
  background-color: #5fbff9;
}
.text__second-bg {
  background-color: #f06543;
}
